@tailwind base;

@layer base {
    :deep(.ext-callout-note) {
        @apply p-2 flex items-center
        target:text-slate-700
        bg-yellow-100 rounded-lg shadow-md
        border-l-8 border-l-yellow-400
        ring-yellow-200 ring-1;
    }

    :deep(.ext-callout-note-label) {
        @apply text-yellow-500 font-bold mr-2;
    }
}

/* ------------------------------------------------------------------------- */
/* Headings */
:deep(h2) {
    @apply font-bold font-serif text-2xl text-sky-500 mt-16;
}

:deep(h3) {
    @apply font-bold font-serif italic text-xl text-sky-600 mt-8;
}

/* ------------------------------------------------------------------------- */
/* Base Typography */
:deep(p) {
    @apply text-slate-700 my-2 leading-6;
}

:deep(a) {
    @apply text-violet-500 underline hover:animate-pulse;
}

:deep(li) {
    @apply text-slate-700 ml-8 leading-6;
}

/* ------------------------------------------------------------------------- */
/* Lists */
:deep(ul) {
    @apply list-disc;
}

:deep(ol) {
    @apply list-decimal;
}

/* ------------------------------------------------------------------------- */
/* Tables */
:deep(table) {
    @apply bg-slate-50 rounded-lg ring-slate-300 ring-1 shadow-md table-auto border-separate border-spacing-1 min-w-full;
}

:deep(th) {
    @apply border border-slate-300 bg-slate-400 px-4 py-1 text-white;
}

:deep(td) {
    @apply border border-slate-200 px-2 py-1;
}

/* ------------------------------------------------------------------------- */
/* Code */
:deep(:not(pre) > code) {
    @apply text-fuchsia-700;
}

:deep(pre, pre>*) {
    @apply bg-slate-100 text-xs;
    text-shadow: none;
}

:deep(pre) {
    @apply p-4 bg-slate-50 rounded-lg ring-slate-300 ring-1 shadow-md select-all;
}

:deep(.token) {
    text-shadow: none;
}

:deep(code) {
    text-shadow: none;
}

/* ------------------------------------------------------------------------- */
/* Table of contents */
:deep(div.toc) {
    @apply text-xs w-full sm:w-2/3 mt-8 p-2 rounded-lg ring-1 ring-slate-300 shadow-md
        2xl:fixed 2xl:w-72 2xl:mt-0 2xl:p-0 2xl:left-16 2xl:top-48 2xl:ring-0 2xl:shadow-none;
}

:deep(div.toc > .toctitle) {
    @apply font-semibold font-serif ml-2 text-slate-600 text-lg
        2xl:text-slate-500 2xl:text-sm;
}

:deep(div.toc a) {
    @apply my-2 leading-6 no-underline hover:text-sky-400 text-slate-500
        2xl:text-slate-400;
}

:deep(.toc ul) {
    /* Only top-level */
    @apply list-none;
}

:deep(.toc li > ul) {
    /* Only nested list have disc */
    list-style-type: disc;
}

:deep(.toc li::marker) {
    @apply text-slate-400;
}

:deep(.toc > * > li) {
    /* Only top-level */
    @apply ml-2;
}

:deep(.toc > * > li li) {
    /* All leaves */
    @apply ml-4;
}
