@tailwind base;

@layer base {
    /* --------------------------------------------------------------------- */
    /* Note callouts */
    :deep(.ext-callout-note) {
        @apply p-2 flex items-center
        text-slate-700
        bg-yellow-100 rounded-lg shadow-md
        border-l-8 border-l-yellow-400
        ring-yellow-200 ring-1;
    }

    :deep(.ext-callout-note-label) {
        @apply text-yellow-500 font-bold mr-2;
    }

    /* --------------------------------------------------------------------- */
    /* Quotes */
    :deep(.ext-quote) {
        @apply p-2 flex items-center px-16 mb-4
        border-teal-400;

        border-bottom-width: 0.5px;
    }

    :deep(.ext-quote p) {
        @apply italic font-light text-teal-700;
    }

    :deep(.ext-quote-author *) {
        @apply italic text-teal-700 font-bold mr-4;
    }


    /* --------------------------------------------------------------------- */
    /* TLDR */
    :deep(.ext-tldr) {
        @apply p-2 flex items-center px-16 mb-4
        border-sky-400;

        border-bottom-width: 0.5px;
    }

    :deep(.ext-tldr p) {
        @apply text-sky-400 italic font-light;
    }

    :deep(.ext-tldr-label) {
        @apply text-sky-400 font-bold italic mr-4;
    }
}

/* ------------------------------------------------------------------------- */
/* Headings */

/* ------------------------------------------------------------------------- */
/* Base Typography */
:deep(a) {
    @apply underline decoration-sky-500 decoration-2 underline-offset-2 hover:underline hover:text-sky-500;
}

:deep(li) {
    @apply ml-8;
}

:deep(p), :deep(li) {
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    @apply text-lg leading-8 text-slate-800 my-2;
}

:deep(h2) {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    @apply font-sans font-bold text-3xl text-slate-900 mt-16;
}

:deep(h3) {
    @apply font-bold font-sans italic text-xl text-slate-900 mt-8;
}

/* ------------------------------------------------------------------------- */
/* Lists */
:deep(ul) {
    @apply list-disc;
}

:deep(ol) {
    @apply list-decimal;
}

/* ------------------------------------------------------------------------- */
/* Tables */
:deep(table) {
    @apply bg-slate-50 rounded-lg ring-slate-300 ring-1 shadow-md table-auto border-separate border-spacing-1 min-w-full;
}

:deep(th) {
    @apply border border-slate-300 bg-slate-400 px-4 py-1 text-white;
}

:deep(td) {
    @apply border border-slate-200 px-2 py-1;
}

/* ------------------------------------------------------------------------- */
/* Code */
:deep(:not(pre) > code) {
    @apply text-fuchsia-700;
}

:deep(pre, pre>*) {
    @apply bg-slate-100 text-xs;
    text-shadow: none;
}

:deep(pre) {
    @apply p-4 bg-slate-50 rounded-lg ring-slate-300 ring-1 shadow-md select-all;
}

:deep(.token) {
    text-shadow: none;
}

:deep(code) {
    text-shadow: none;
}

/* --------------------------------------------------------------------- */
/* Images */
:deep(img) {
    @apply w-2/3
}

/* ------------------------------------------------------------------------- */
/* Table of contents */
:deep(div.toc) {
    @apply w-full sm:w-2/3 mt-8 p-2 border-y-2 border-slate-500
        2xl:fixed 2xl:w-72 2xl:mt-0 2xl:p-0 2xl:left-16 2xl:top-48 2xl:border-y-0;
}

:deep(div.toc > .toctitle) {
    @apply font-semibold font-serif ml-2 text-slate-600 text-lg
        2xl:text-slate-500 2xl:text-sm;
}

:deep(div.toc a) {
    @apply my-2 font-serif text-sm leading-6 no-underline hover:text-sky-400 text-slate-500
        2xl:text-slate-400;
}

:deep(.toc ul) {
    /* Only top-level */
    @apply list-none;
}

:deep(.toc li) {
    /* Only nested list have disc */
    @apply leading-8 2xl:leading-6 my-0;
}

:deep(.toc li > ul) {
    /* Only nested list have disc */
    list-style-type: disc;
}

:deep(.toc li::marker) {
    @apply text-slate-400;
}

:deep(.toc > * > li) {
    /* Only top-level */
    @apply ml-2;
}

:deep(.toc > * > li li) {
    /* All leaves */
    @apply ml-8;
}
